<p id="notice"><%= notice %></p>

<div id="discussionform">
  <%=render 'discussions/form'%>
</div>

<div id="sub-parent">
  <!-- ####### flyout ######## -->
  <div id="flyout">
    <div class="flyout-padding">
      <div id="flyout-expand"></div>
      <div id="flyout-minus"></div>
    </div><!--####### flyout-padding end ######-->
  </div><!-- ####### flyout end ######## -->
  
  <div class="messageboard-container">
    <ul id="messageboard">
      <%=render @discussions%>
    </ul><!--message board ul end-->
  </div><!-- messageboard-container end -->
  <div class="fix"></div>
</div><!--sub parent end-->